<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Product List</h1>
    <a href="/products/add">Add Product</a>
    <ul>
        <% products.forEach(product => { %>
            <li>
                <a href="/products/<%= product._id %>"><%= product.name %></a> 
                - <%= product.price %> 
                - <a href="/products/<%= product._id %>/edit">Edit</a> 
                - <form action="/products/<%= product._id %>?_method=DELETE" method="POST" style="display:inline;">
                      <button type="submit">Delete</button>
                  </form>
            </li>
        <% }) %>
    </ul>
</body>
</html>
